[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FormShare"]
	path = FormShare
	url = https://github.com/qlands/formshare-r-package
